/*main styles*/
* {
    box-sizing: border-box;
    font-family: veteran_typewriterregular, serif;
    font-size: 100%;
    color: black;
}

html {
    text-align: center;
    font-size: 1.3em;
    max-width: 100vw;
}

body {
    background-color: lightblue;
    min-height: 100%;
    max-width: 800px;
    margin: 0 auto;
}

a:link {
    text-decoration: none;
    color: midnightblue;
}

a:visited {
    color:midnightblue;
}

a:hover {
    font-weight: bold;
}

img {
    max-width: 80%;
}

section {
    max-width: 800px;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

h2 {
    font-size: 100%;
}

/*end main styles*/

.in-progress {
    text-decoration: line-through;
}

section {
    margin-top: 4em;
}