* {
    box-sizing: border-box;
}

/*host styles */
:host {
    width: 30vw;
    height: 30vw;
    position: absolute;
    background-color: rgba(156, 141, 127, 0.56);
    border: solid black 5px;
    border-radius: 1em;
    border-image: url("/image/draggable-window-border.png") 10 8;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
:host(:focus) {
    background-color: rgb(202, 187, 164);
}
:host([minimized]) {
    display: none;
}
/* end host styles*/

/*slot styles*/
::slotted([slot='icon']) {
    flex: 0;
    max-height: 90%;
}

::slotted([slot='title']) {
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    text-align: center;
    font-size: 2em;
    flex: 1;
}
::slotted([slot='menubaritem']) {
    white-space: nowrap;
    margin-left: 2%;
}
/*end slot styles*/

/*shadow DOm styles*/
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}
/*top bar styles*/
#bar {
    display: flex;
    flex-direction: row;
    flex: 2;
    max-height: 20%;
    padding: 2%;
    background-color: rgba(30, 27, 32, 0.74);
    color: white;
    overflow: hidden;
    border-radius: 1em 1em 0 0;
}
#close, #minimize {
    padding-left: 5%;
    flex: 0;
}
/*end top bar styles*/
/*menu bar styles*/
#menubar {
    display: flex;
    flex-direction: row;
    max-height: 10%;
    background-color: rgba(180, 180, 180, 0.88);
    padding: 1%;
    z-index: 1;
}
/*end menu bar styles*/
/*content styles*/
#content {
    flex: 4;
    background-color: rgba(118, 118, 118, 0.64);
    max-height: 70%;
    text-align: center;
    margin: 2%;
    padding: 2%;
    border-radius: 1em;
    overflow: auto;
}
/*end content styles*/
/*end shadow DOM styles*/
