/*fonts*/
@font-face {
    font-family: 'journalregular';
    src: url("/image/journal-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'veteran_typewriterregular';
    src: url("/image/veteran_typewriter-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
/*end fonts*/

/*main styles*/
* {
    box-sizing: border-box;
    font-family: veteran_typewriterregular, serif;
    font-size: 100%;
    color: black;
}

html {
    overflow: hidden;
    height: 100%;
    font-size: 1.3em;
}

div, nav, p, body, html{
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}
/*end main styles*/

/*window space styles*/
body {
    background-image: url("../image/desktop-background.jpg");
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#openWindows {
    flex: 1;
}

image-gallery-app, memory-app, insta-chat-app {
    position: relative;
}

#aboutWindow {
    text-align: justify;
    font-size: 0.7em;
    left: 300px;
}

#aboutWindow p[slot='title'] {
    color: white;
    font-size: 2.7em;
}

#aboutWindow p {
    padding: 0.5em;
    padding-top: 0;
}
/*end window space styles*/

/*menu styles*/
#windowSelector {
    display: flex;
    flex-direction: row;
    background-color: rgba(30, 27, 32, 0.74);
    width: 100%;
    flex-basis: content;
}

#windowSelector img {
    max-height: 10vh;
    background-color: antiquewhite;
    border-radius: 1em;
    margin-right: 0.5em;

}

#windowSelector expandable-menu-item {
    background-color: transparent;
    height: auto;
    margin: 0.5em;
    flex: 0 1 content;
}
/*end menu styles*/

/*media queries*/
@media screen and (max-width: 400px) {
    #windowSelector {
        font-size: 0.5em;
        overflow: scroll;
        justify-content: space-between;
    }

    draggable-window {
        font-size: 0.5em;
        width: 50vw;
        height: 50vw;
    }

    #aboutWindow {
        left: 1500px;
    }

    #aboutWindow p[slot='title'] {
        font-size: 2.7em;
    }
}
/*end media queries*/

