---
layout: default
---

{% assign projects = three % }


{% assign collectionName = 'projects' %}
{% assign c = site.collections | where:'label', collectionName | first %}
<nav class="{{projects}}">
    <ul>
        {% for category in c.categories %}
        <li>
            <a href="#{{category}}">{{category}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

{{content}}

<div class="projects-content">
    {% for category in c.categories %}
    <section class="{{projects}}">
        <h2 id="{{category}}">{{category}}</h2>
        <ul>
            {% for project in site.projects %}
            {% if project.category contains category %}
            <li>
                <h3>{{ project.title | escape }}</h3>
                <p>[{{project.tags}}]</p>
                <p>{{project.content}}</p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>
